/.metadata/
/.jxbrowser-data/
/RemoteSystemsTempFiles/
/dvt/
/sprc191/
/Walkie_Textie_Initializations/.settings/
/Walkie_Textie_Initializations/Debug/
/Walkie_Textie_Initializations/v170/
/Walkie_Textie_Initializations/.ccsproject/
/Walkie_Textie_Initializations/.cproject/
/Walkie_Textie_Initializations/.project/
/Walkie_Textie_Initializations/2809_RAM_lnk/